<div class="container">
<div class="col-sm-8">
  <div class="row">
      <!-- Carousel -->
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <a href="/csgo" target="_blank">
                  <img class="img-responsive" src="http://cdn.wallpapersafari.com/24/19/gChL4v.jpg">
                  <div class="carousel-caption">
                    <h1>Lorem</h1>
                    <p>Lorem Ipsum</p>
                  </div>
                </a>
              </div>

              <div class="item">
                <img class="img-responsive" src="https://i.ytimg.com/vi/QMWYuCerQms/maxresdefault.jpg">
                <div class="carousel-caption">
                  <h1>Lorem</h1>
                  <p>Lorem Ipsum</p>
                </div>
              </div>

              <div class="item">
                <img class="img-responsive" src="https://i.ytimg.com/vi/l-0V3Ij0yxk/maxresdefault.jpg">
                <div class="carousel-caption">
                  <h1>Lorem</h1>
                  <p>Lorem Ipsum</p>
                </div>
              </div>

              <div class="item">
                <img class="img-responsive" src="http://cdn.wallpapersafari.com/39/66/zk4AHs.jpg">
                <div class="carousel-caption">
                  <h1>Lorem</h1>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
  </div>
  <div class="row">
    <!-- Page content -->
    <div class="col-sm-6">
      <div class="row">
        <div class="news-header nh-csgo">
          <a href="http://www.thescoreesports.com/csgo/news" target="_blank">
            <%= image_tag('the-score-logo.png', :class => "img-header") %>
          </a>
        </div>
        <div class="news-content">
        <% @news.each do |news| %>
        <a href="<%= news.url %>" target="_blank" style="color:white;">
        <h4>
          <b><%= news.title %></b>
        </h4>
        </a>
        <hr>
        <% end %>
      </div>
    </div>
      <div class="row">
        <div class="news-header nh-csgo">
          <h4><b style="color:white;">Tutorials <span style="color:blue;">&</span> Guides</b></h4>
        </div>
        <div class="news-content">
        <ul>
          <% @guides.each do |guide| %>
          <a href="<%= guide.url %>" target="_blank" style="color:orange;">
            <li><h4>
            <b><%= guide.title %></b>
          </h4></li>
          </a>
          <% end %>
        </ul>
      </div>
    </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="news-header nh-csgo">
          <a href="https://www.reddit.com/r/GlobalOffensive" target="_blank">
            <%= image_tag('reddit_logo_white.png', :class => "img-header") %>
          </a>
        </div>
        <div class="news-content">
            <% @reddit.each do |post| %>
            <a href="<%= post.url %>" target="_blank" style="color:blue;">
              <h5 style="color:white;">
                <b><%= post.title %></b>
              </h5>
              <%= post.upvotes %>
              upvotes |
              <%= post.comments %>
              comments
            </a>
            <hr>
            <% end %>
          </div>
      </div>
      <div class="row">
        <div class="news-header nh-csgo">
          <h4 style="color:white;"><b>Artwork</b></h4>
        </div>
        <div class="news-content">
          <% 6.times do %>
          <div class="col-sm-6 img-grid">
            <%= image_tag('alch_small.jpg', :class => "img-responsive") %>
          </div>
          <% end %>
          <div style="clear:both;"></div>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="col-sm-4 sidebar-csgo">
  <!-- sidebar -->
    <div class="row">
      <div class="sidebar-header sh-csgo">
      <a href="https://www.twitch.tv/directory/game/Counter-Strike%3A%20Global%20Offensive" target="_blank">
        <%= image_tag('twitch_logo.png', :class => "img-header") %>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="match-box">
    <table class="table" style="width:100%;">
      <% @streamers.each do |streamer|%>
      <tr>
        <td width="50%" align="left"><b style="color:#6441a5;"><a href="<%= streamer.url %>" style="color:#6441a5;" target="_blank"><%= streamer.name %></a></b></td>
        <td width="50%" align="right"><i style="color:white;"><%= streamer.viewers %> viewers</i></td>
      </tr>
    <% end %>
  </table>
</div>
  </div>
    <div class="row">
      <div class="sidebar-header sh-csgo">
      <a href="https://www.youtube.com/" target="_blank">
        <%= image_tag('youtube_logo.png', :class => "img-header") %>
       </a>
     </div>
   </div>
   <div class="row">
      <% @youtube.each do |video| %>
        <div class="col-lg-12 col-md-12 col-xs-12 youtube-embed">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="<%= video.embed %>" allowfullscreen></iframe>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
