<div class="container">
<div class="col-sm-12">
  <div class="row">
      <!-- Carousel -->
      <div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active home-item">
                  <%= image_tag('banner.jpg', :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1><%= render 'layouts/logo' %></h1>
                    <p>The greatest place for gaming news in one place</p>
                  </div>
              </div>

              <% @headlines.each do |headline| %>
              <div class="item home-item">
                <a href="<%= headline.url %>" target="_blank">
                  <%= image_tag(headline.img, :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1><%= headline.title %></h1>
                    <p><%= headline.description %></p>
                  </div>
                </a>
              </div>
              <% end %>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="news-header nh-dota">
          <h3><b style="color:white;">What <span class="ember">We</span> Do</b></h3>
        </div>
        <div class="news-content">
          <div class="row">
            <div class="col-sm-12">
              <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <%= image_tag('csgo-logo.png', :class => "img-responsive affiliate-img") %>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <%= image_tag('dota-logo.png', :class => "img-responsive affiliate-img") %>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <%= image_tag('overwatch-logo.png', :class => "img-responsive affiliate-img") %>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <%= image_tag('wow-logo.png', :class => "img-responsive affiliate-img") %>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
              <%= image_tag('fg_net.png', :class => "img-responsive") %>
            </div>
            <div class="col-sm-2">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-12">
              <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
          <br>
        </div>
    </div>
    </div>
    <div class="col-sm-4 sidebar-start">
      <div class="row">
        <div class="news-header nh-dota">
        <a href="https://www.twitch.tv/directory/game/Dota%202" target="_blank">
          <%= image_tag('twitch_logo.png', :class => "img-header") %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="match-box">
      <table class="table" style="width:100%;">
        <% @streamers.each do |streamer|%>
          <tr>
            <td width="50%" align="left"><b><a href="<%= streamer.url %>" style="color:#6441a5;" target="_blank"><%= streamer.name %></a></b></td>
            <td width="50%" align="right"><i style="color:white;"><%= streamer.viewers %> viewers</i></td>
          </tr>
        <% end %>
    </table>
  </div>
    </div>
      <div class="row">
        <div class="news-header nh-dota">
          <a href="https://www.reddit.com/r/DotA2/" target="_blank">
            <h4><b style="color:white;">Reddit <span class="ember">/r/Gaming</span></b></h4>
          </a>
        </div>
        <div class="news-content">
            <% @reddit.each do |post| %>
            <a class="ember" href="<%= post.url %>" target="_blank">
              <h5 style="color:white;">
                <b><%= post.title %></b>
              </h5>
              <%= post.upvotes %>
              upvotes |
              <%= post.comments %>
              comments
            </a>
            <hr>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
