<div class="landing-header shadow">
  <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="tagline">
                <%= render 'layouts/logo' %>
              </h1>
              <p class="tagline">The greatest place for gaming news in one place</p>
            </div>
          </div>
        </div>
</div>


<div class="container content-container">
  <div class="spacer"></div>

  <div class="bg">

        <div class="row">
            <div class="col-sm-8">
                <h2><b>What <span class="ember">We</span> Do</b></h2>
                <p>FollowGaming.com is your starting point on the web.</p>
                <p>We gather news, rumours, matches and more for the most popular
                  e-sports and games in one place.</p>
                  <p>We<br> gotta<br> add<br> some<br> more<br> content<br> here!</p>
                <p>Below you can find some of the games that we cover!</p>
            </div>
            <div class="col-sm-4">
              <h2><b>Insta<span class="ember">gram</span></b></h2>

              <div class="col-sm-6 img-grid">
                <%= image_tag('alch_small.jpg', :class => "img-responsive img-grid") %>

              </div>
              <div class="col-sm-6 img-grid">
                <%= image_tag('csgo_small.jpg', :class => "img-responsive img-grid") %>

              </div>
              <div class="col-sm-6 img-grid">
                <%= image_tag('tracer.jpg', :class => "img-responsive img-grid") %>

              </div>
              <div class="col-sm-6 img-grid">
                <%= image_tag('legion_small.jpg', :class => "img-responsive img-grid") %>

              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="spacer"></div>

        <div class="row">
            <div class="col-sm-3">
              <a class="ember" href="/csgo">
              <div class="bg">
                <%= image_tag('csgo_small.jpg', :class => "img-responsive img-center") %>
                <h2><b>Counterstrike</b></h2>
              </div>
            </a>
          </div>
            <div class="col-sm-3">
              <a class="ember" href="/dota2">
              <div class="bg">
                <%= image_tag('alch_small.jpg', :class => "img-responsive img-center") %>
                <h2><b>DotA 2</b></h2>
              </div>
            </a>
          </div>
            <div class="col-sm-3">
              <a class="ember" href="/overwatch">
              <div class="bg">
                <%= image_tag('tracer.jpg', :class => "img-responsive img-center") %>
                <h2><b>Overwatch</b></h2>
              </div>
            </a>
          </div>
          <div class="col-sm-3">
            <a class="ember" href="/wow">
            <div class="bg">
              <%= image_tag('legion_small.jpg', :class => "img-responsive img-center") %>
              <h2><b>WoW</b></h2>
            </div>
          </a>
        </div>
        </div>
        <!-- /.row -->
    </div>
    <br>
