<div class="container">
<div class="col-sm-12">
  <div class="row">
      <!-- Carousel -->
      <div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active home-item">
                  <%= image_tag('banner.jpg', :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1><%= render 'layouts/logo' %></h1>
                    <p>The greatest place for gaming news in one place</p>
                  </div>
              </div>

              <div class="item home-item">
                <a href="/csgo" target="_blank">
                  <%= image_tag('https://global-offensive.com/wp-content/uploads/sites/2/2014/02/counter-strike-global-offensive-game-hd-wallpaper-1920x1080-8976.jpg', :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1>Counterstrike</h1>
                    <p>Lorem Ipsum</p>
                  </div>
                </a>
              </div>

              <div class="item home-item">
                <a href="/dota2" target="_blank">
                  <%= image_tag('http://media.esportsedition.com/wp-content/uploads/2016/01/dota-2-logo-wallpaper-02.jpg', :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1>DotA 2</h1>
                    <p>Lorem Ipsum</p>
                  </div>
                </a>
              </div>

              <div class="item home-item">
                <a href="http://blog.dota2.com/2016/08/the-international-grand-champions/" target="_blank">
                  <%= image_tag('news/aegis.jpg', :class => "img-responsive") %>
                  <div class="carousel-caption">
                    <h1>Lorem</h1>
                    <p>Lorem Ipsum</p>
                  </div>
                </a>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="news-header nh-dota">
          <h3><b style="color:white;">What <span class="ember">We</span> do</b></h3>
        </div>
        <div class="news-content">
          <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p style="color:white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <div class="news-content">
            <% 4.times do %>
            <div class="col-sm-6 img-grid">
              <%= image_tag('alch_small.jpg', :class => "img-responsive") %>
            </div>
            <% end %>
            <div style="clear:both;"></div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-sm-4 sidebar-start">
      <div class="row">
        <div class="news-header nh-dota">
        <a href="https://www.twitch.tv/directory/game/Dota%202" target="_blank">
          <%= image_tag('twitch_logo.png', :class => "img-header") %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="match-box">
      <table class="table" style="width:100%;">
        <% @streamers.each do |streamer|%>
          <tr>
            <td width="50%" align="left"><b><a href="<%= streamer.url %>" style="color:#6441a5;" target="_blank"><%= streamer.name %></a></b></td>
            <td width="50%" align="right"><i style="color:white;"><%= streamer.viewers %> viewers</i></td>
          </tr>
        <% end %>
    </table>
  </div>
    </div>
      <div class="row">
        <div class="news-header nh-dota">
          <a href="https://www.reddit.com/r/DotA2/" target="_blank">
            <h4><b style="color:white;">Reddit <span class="ember">/r/Gaming</span></b></h4>
          </a>
        </div>
        <div class="news-content">
            <% @reddit.each do |post| %>
            <a class="ember" href="<%= post.url %>" target="_blank">
              <h5 style="color:white;">
                <b><%= post.title %></b>
              </h5>
              <%= post.upvotes %>
              upvotes |
              <%= post.comments %>
              comments
            </a>
            <hr>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
