<!DOCTYPE html>
<html>
    <head>
        <%= render 'layouts/header' %>
    </head>
    <body>
    <div class="ui equal width center aligned middle aligned grid">
      <div class="row frontbox">
        <div class="black column frontbox">
          <a href="/dota2">
            <%= image_tag("http://www.wallpapermade.com/images/wallpapers/originals/starcraft-cat-wallpaper-2265.jpg", :class => 'ui image frontimage') %>
          </a>
        </div>
        <div class="grey column frontbox">
            <a href="/dota2">
              <%= image_tag("http://cdn.pcwallart.com/images/dota-2-wallpaper-windrunner-wallpaper-4.jpg", :class => 'ui image frontimage') %>
            </a>
        </div>
      </div>
      <div class="row frontbox">
        <div class="grey column frontbox">
            <a href="/dota2">
              <%= image_tag("https://images6.alphacoders.com/298/298486.jpg", :class => 'ui image frontimage') %>
            </a>
        </div>
        <div class="black column frontbox">
            <a href="/dota2">
              <%= image_tag("https://images4.alphacoders.com/600/600528.png", :class => 'ui image frontimage') %>
            </a>
        </div>
      </div>
        <%= render 'layouts/front_footer' %>
    </body>
</html>
