<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <!-- Carousel -->
            <div id="myCarousel" class="carousel slide home-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                    <a href="<%= @headlines[0].url %>" target="_blank">
                      <img class="img-responsive" src="<%= @headlines[0].img %>">
                      <div class="carousel-caption">
                        (<%= @headlines[0].game.name %>)
                        <h1><%= @headlines[0].title %></h1>
                        <p><%= @headlines[0].description %></p>
                      </div>
                    </a>
                  </div>

                    <% @headlines[1..4].each do |headline| %>
                    <div class="item home-item">
                        <a href="<%= headline.url %>" target="_blank">
                            <%= image_tag(headline.img, :class => "img-responsive") %>
                            <div class="carousel-caption">
                              (<%= headline.game.name %>)
                              <h1><%= headline.title %></h1>
                              <p><%= headline.description %></p>
                            </div>
                        </a>
                    </div>
                    <% end %>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="news-header nh-dota">
                        <h3 align='left'>
                            <b style="color:white;" class="ember">Live</b>
                        </h3>
                    </div>
                    <div class="news-content">
                        <div class="row">
                            <div class="col-sm-12">
                              <table width="100%">
                              <% 4.times do %>
                              <tr>
                                  <td width='5%' align='left'>
                                    <%= image_tag('game/dota-match.png', :class => "img-responsive") %>
                                  </td>
                                  </td>
                                  <td width='40%' align='left'>
                                      <b style='color: white;padding:5px;'>Na'Vi</b><br>
                                      <a style='color: white;padding:5px;' href='#' target='_blank'>IEM Oakland</a>
                                  <td width='15%' align='center'>
                                     <i style='color: white;'>Bo5</i><br>
                                    <b style='color: white;'>0 - 0</b>
                                  </td>
                                  <td width='40%' align='right'>
                                    <b style='color: white;'>SK Gaming</b><br>
                                    <a href='http://www.trackdota.com/matches/#{match.id}' target='_blank'>
                                      <div class='img-twitch'></div>
                                    </a>
                                    <a href='http://www.trackdota.com/matches/#{match.id}' target='_blank'>
                                      <div class='img-trackdota'></div>
                                    </a>
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                  <br />
                                </td>
                              </tr>
                              <% end %>
                            </table>                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="news-header nh-dota">
                        <h4 align='left'>
                            <b style="color:white;">Upcoming Matches</b>
                        </h4>
                    </div>
                    <div class="news-content">
                        <div class="row">
                            <div class="col-sm-12">
                              <table width="100%">
                              <% 4.times do %>
                              <tr>
                                  <td width='5%' align='left'>
                                    <%= image_tag('game/csgo-match.png', :class => "img-responsive") %>
                                  </td>
                                  </td>
                                  <td width='40%' align='left'>
                                      <b style='color: white;padding:5px;'>OG</b><br>
                                      <a style='color: white;padding:5px;' href='#{league[1]}' target='_blank'>League</a>
                                  <td width='15%' align='center'>
                                     <i style='color: white;'>Bo3</i><br>
                                    <b style='color: white;'>45m 7s</b>
                                  </td>
                                  <td width='40%' align='right'>
                                    <b style='color: white;'>Evil Geniuses</b><br>
                                    <a href='http://www.trackdota.com/matches/#{match.id}' target='_blank'>
                                      <div class='img-trackdota'></div>
                                    </a>
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                  <br />
                                </td>
                              </tr>
                              <% end %>
                            </table>                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="news-header nh-dota">
                        <h4 align='left'>
                            <b style="color:white;">Recent results</b>
                        </h4>
                    </div>
                    <div class="news-content">
                        <div class="row">
                            <div class="col-sm-12">
                              <table width="100%">
                              <% 4.times do %>
                              <tr>
                                  <td width='5%' align='left'>
                                    <%= image_tag('game/dota-match.png', :class => "img-responsive") %>
                                  </td>
                                  </td>
                                  <td width='40%' align='left'>
                                      <b style='color: white;padding:5px;'>Astralis</b><br>
                                      <a style='color: white;padding:5px;' href='#{league[1]}' target='_blank'>League</a>
                                  <td width='15%' align='center'>
                                     <i style='color: white;'>Bo5</i><br>
                                    <b style='color: white;'>3 - 2</b>
                                  </td>
                                  <td width='40%' align='right'>
                                    <b style='color: white;'>Virtus Pro</b><br>
                                    <a href='http://www.trackdota.com/matches/#{match.id}' target='_blank'>
                                      <div class='img-trackdota'></div>
                                    </a>
                                  </td>
                              </tr>
                              <tr>
                                <td>
                                  <br />
                                </td>
                              </tr>
                              <% end %>
                            </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-4 sidebar-start">
                <div class="row">
                    <div class="news-header nh-dota">
                        <a href="https://www.twitch.tv/directory/game/Dota%202" target="_blank">
                            <%= image_tag('twitch_logo.png', :class => "img-header") %>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="match-box">
                        <table class="table" style="width:100%;">
                            <% @streamers.each do |streamer|%>
                            <tr>
                                <td width="50%" align="left">
                                    <b>
                                        <a href="<%= streamer.url %>" style="color:#6441a5;" target="_blank"><%= streamer.name %></a>
                                    </b>
                                </td>
                                <td width="50%" align="right">
                                    <i style="color:white;"><%= streamer.viewers %>
                                        viewers</i>
                                </td>
                            </tr>
                            <% end %>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="news-header nh-dota">
                        <a href="https://www.reddit.com/r/DotA2/" target="_blank">
                            <h4>
                                <b style="color:white;">Reddit
                                    <span class="ember">/r/Gaming</span>
                                </b>
                            </h4>
                        </a>
                    </div>
                    <div class="news-content">
                        <% @reddit.each do |post| %>
                        <a class="ember" href="<%= post.url %>" target="_blank">
                            <h5 style="color:white;">
                                <b><%= post.title %></b>
                            </h5>
                            <%= post.upvotes %>
                            upvotes |
                            <%= post.comments %>
                            comments
                        </a>
                        <hr>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
