<!DOCTYPE html>
<html>
    <head>
        <title>Dirr</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= csrf_meta_tags %>
        <%= render partial: "partials/google_analytics" %>
    </head>
    <body>
        <div class="ui vertical inverted left visible sidebar menu overlay">
            <div class="item">
                <a href=<%= root_url %>>
                    <h1 class="ui orange inverted center aligned header">
                        <%= image_tag("logo_white.png", :class => 'ui middle aligned tiny image') %>
                    </h1>
                </a>
            </div>
            <a href="/csgo" class="item">
                <center>
                    Counterstrike
                </center>
            </a>
            <a href="/dota2" class="item">
                <center>
                    DotA 2
                </center>
            </a>
            <div class="item">
                <% if user_signed_in? %>
                Logged in as
                <span style="color:orange"><%= current_user.username %></span>.
                <br>
                <% if current_user.is_admin? %>
                <span style="color:orange"><%= current_user.role %></span>
                <br>
                <% end %>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a class="ui inverted fluid green button" href="<%= new_user_session_path %>">Login</a>
                <div class="ui horizontal inverted divider">
                    Or
                </div>
                <a class="ui inverted fluid orange button" href="<%= new_user_registration_path %>">Sign up</a>
                <% end %>
            </div>
        </div>
        <div class="pusher">
            <div class="wrapper">
                <% if notice %>
                <div class="ui info message">
                    <i class="close icon"></i>
                    <p><%= notice %></p>
                </div>
                <% end %>
                <% if alert %>
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <p><%= alert %></p>
                </div>
                <% end %>
                <%= yield %>
                <div class="ui inverted vertical footer segment" id="footer">
                    <div class="ui divided inverted horizontal list">
                        <div class="item">
                            <h4 class="ui orange inverted header">Dirr</h4>
                        </div>
                        <div class="item">
                            <a href="#">About Us</a>
                        </div>
                        <div class="item">
                            <a href="#">Contact</a>
                        </div>
                        <div class="item">
                            <a href="#">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= render partial: "partials/google_analytics_pageview" %>
    </body>
</html>
