<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/header' %>
</head>
<body>

  <header>
    <!-- Static navbar -->
    <nav class="navbar navbar-inverse navbar-static-top navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">             <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<%= root_url %>">
            <%= render 'layouts/logo' %>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'csgo' %>"><a href="/csgo">Counterstrike</a></li>
            <li class="<%= 'active' if params[:controller] == 'dota' %>"><a href="/dota2">DotA 2</a></li>
            <li class="<%= 'active' if params[:controller] == 'overwatch' %>"><a href="/overwatch">Overwatch</a></li>
            <li class="<%= 'active' if params[:controller] == 'wow' %>"><a href="/wow">World of Warcraft</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Settings', edit_user_registration_path, :class => "dd-text" %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "dd-text" %></li>
                </ul>
              </li>
              <% else %>
                <li><a href="<%= new_user_session_path %>">Login</a></li>
                <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <% if notice %>
      <div class="notice-box">
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert-box">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </main>

    <!-- Footer -->
  <footer class="footer-distributed">

    <div class="footer-right">
      <%= render 'partials/sponsors' %>
    </div>

    <div class="footer-left">

      <p class="footer-links">
        <!--
        <a href="#">Blog</a>
         ·-->
        <a href="#" data-toggle="modal" data-target="#donationModal">Donate</a>
         ·
        <a href="#" data-toggle="modal" data-target="#aboutModal">About</a>
         ·
        <a href="#" data-toggle="modal" data-target="#contactModal">Contact</a>
      </p>

      <%= render 'layouts/logo' %>
    </div>

  </footer>

  <!-- Contact modal -->
  <div id="contactModal"class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Contact</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <p>If you have any questions, feedback or just wanna say hi
              feel free to use any of the methods to the right. We will
              respond asap!</p>
            </div>
            <div class="col-sm-6">
              <p><b>Email</b><br>marcus.sneitz@gmail.com</p>
              <p><b>Facebook</b><br>?????</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Donation modal -->
  <div id="donationModal"class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Donate</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <p>If you like what we have going here feel free to contribute.
              Donations will be invested back into the site in some way.</p>
            </div>
            <div class="col-sm-6">
              <p><b><a href="#">Paypal</a></b><br>For those of you who wants to donate a single time,
              the amount is up to you.</p>
              <p><b><a href="#">Patreon</a></b><br>If you like my blog more than the site itself becoming
              a patreon will help me keep going and deliver content.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- About modal -->
  <div id="aboutModal"class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">About</h4>
        </div>
        <div class="modal-body">
          <div class="row">
          <div class="col-sm-6">
            <h2>What is FollowGaming?</h2>
            <p>FollowGaming is a website dedicated to collecting the most relevant news
            for some of the most popular games out there. We use a lot of different sources
            to get a good variety between serious news and dank memes.</p>
            <h2>Who is FollowGaming?</h2>
            <p>At the moment it's just one person behind FollowGaming and that's me, Marcus Sneitz.
            So who am I?<br>I'm a guy in my twenties who loves esports, gaming, computers and programming.
          If you want to know more about me I will put up a blog post asap.</p>
            <h2>How does it work?</h2>
            <p>I want it to be very clear that FollowGaming doesn't do ANY type of webscraping since it's highly
            unethical. We only fetch news and info from public APIs and RSS feeds, this is done by a task that runs
            in intervals of about 2 minutes which means there won't be a 100% sync between FollowGaming and for example Reddit.</p>
          </div>
          <div class="col-sm-6">
            <h2>Why don't you show news from < insert site >?</h2>
            <p>More sources will be added as I find good ones. There are some big
            sites that I would love to show news from but they don't have any public API or
            RSS feed which makes it impossible. If you own a site with content related to gaming
            and want to be included in FollowGaming send me an email so we can talk!</p>
            <h2>I want to contribute!</h2>
            <p>Great! We highly appreciate all kinds of contributions, feel free to contact us or send
            a donation our way to keep us going.</p>
            <h2>I like the site but can't afford a donation</h2>
            <p>No problem, if you want to help out without costing you anything please make an
            exception for us in your adblocker. We don't show any adds in our content
            except for in the blog. We also have a few affiliates that you can find
             in the footer so if you're going to buy new gear please use our links ;)</p>
          </div>
        </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

  <!-- Analytics -->
  <%= render partial: "partials/google_analytics_pageview" %>
</body>
</html>
