<!DOCTYPE html>
<html>
    <head>
        <title>RottenTomato</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="ui vertical inverted left visible sidebar menu overlay">
            <div class="item">
                <center>
                    <h1>RottenTomato</h1>
                </center>
            </div>
            <a class="item">
                Counterstrike
            </a>
            <a class="item">
                DotA 2
            </a>
            <a class="item">
                League Of Legends
            </a>
            <div class="item">
                <% if user_signed_in? %>
                Logged in as
                <strong><%= current_user.username %></strong>.
                <br>
                <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                |
                <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <a class="ui inverted fluid green button" href="<%= new_user_session_path %>">Login</a>
                <div class="ui horizontal inverted divider">
                    Or
                </div>
                <a class="ui inverted fluid orange button" href="<%= new_user_registration_path %>">Sign up</a>
                <% end %>
            </div>
        </div>
        <div class="pusher">
            <div class="wrapper">
                <% if notice %>
                <div class="ui info message">
                    <i class="close icon"></i>
                    <p><%= notice %></p>
                </div>
                <% end %>
                <% if alert %>
                <div class="ui negative message">
                    <i class="close icon"></i>
                    <p><%= alert %></p>
                </div>
                <% end %>
                <%= yield %>
                <div class="ui inverted vertical footer segment" id="footer">
                    <div class="ui divided inverted horizontal list">
                        <div class="item">
                            <h4>RottenTomato</h4>
                        </div>
                        <div class="item">
                            <a href="#">About Us</a>
                        </div>
                        <div class="item">
                            <a href="#">Contact</a>
                        </div>
                        <div class="item">
                            <a href="#">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
